/*Add CSS styles here*/
/* #mapid { height: 180px; } */



#mapid, #map {
    height: 100%;
    width: 80%;
    display: inline-block;
}
    
#panel {
    width: 20%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 100%;
    margin-bottom: 10px;
}

.step {
    width: 5%;
    display: inline-block;
}

.step img {
    width: 20%;
    height: auto;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

/*adjusting popup content margins in style.css*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}