/*Add CSS styles here*/
/* #mapid { height: 180px; } */



#mapid, #map {
    height: 100%;
    width: 80%;
    display: inline-block;
}
    
#panel {
    width: 20%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 100%;
    margin-bottom: 10px;
}

.step {
    width: 49%;  /* Each button should take about half the width of the panel */
    padding: 5px; /* Padding inside the buttons */
    margin-top: 5px; /* Space above the buttons */
    background-color: #f4f4f4; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners for better aesthetics */
    text-align: center; /* Centers the content of the button */
}

.step img {
    width: 100%;
    height: auto;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

/*adjusting popup content margins in style.css*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}